{% extends 'admin/base_site.html' %} <!--change_list-->

{% block extrastyle %}
    <style>
        .card-body td {
            border: 1px solid #eee;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>거래목록</h1>
    <div class="card">
        <h3>검색</h3>
        <div class="option1">
            <body>
                <select>
                    <option value="all">전체</option>                    
                    <option value="trans_num">거래번호</option>
                    <option value="trans_item">거래항목</option>
                    <option value="trans_name">거래자</option>
                </select>
                <input type="text" name="search_keyword" placeholder="검색어를 입력해주세요">
            </body>
        <h3>등록일</h3>
        <input type="date">
        <h3>~</h3>
        <input type="date">
        <button>검색</button>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>거래번호</th>
                        <th>거래항목</th>
                        <th>거래자</th>
                        <th>결제금액</th>
                        <th>상태</th>
                        <th>결제방식</th>
                        <th>거래일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puchasedsales in cl.result_list %}
                        <tr>
                            <td><a href="{% url 'admin:cominfoApp_puchasedsales_change' puchasedsales.ps_id %}">{{ puchasedsales.ps_id }}</a></td>
                            <td>{{ puchasedsales.trans_num }}</td>
                            <td>{{ puchasedsales.trans_item }}</td>
                            <td>{{ puchasedsales.trans_name }}</td>
                            <td>{{ puchasedsales.payment }}</td>
                            <td>{{ puchasedsales.state }}</td>
                            <td>{{ puchasedsales.pay_method }}</td>
                            <td>{{ puchasedsales.trans_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination justify-content-center mt-4">
        {% if cl.has_previous %}
            <a class="btn btn-primary" href="?page={{ cl.previous_page_number }}">이전</a>
        {% endif %}
        <span class="current-page mx-2">{{ cl.page_number }}</span>
        {% if cl.has_next %}
            <a class="btn btn-primary" href="?page={{ cl.next_page_number }}">다음</a>
        {% endif %}
    </div>
{% endblock %}
